<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api_secret</key>
	<string>fc27bf28fa86885e</string>
	<key>api_key</key>
	<string>ac1ec036739ef363b42e51dcfe5fb0db</string>
</dict>
</plist>
